
<mat-card>
  <span>Crear nuevo cliente</span>
  <form [formGroup]="clienteForm" (ngSubmit)="agregarCliente()">
    <mat-form-field class="crear-cliente-field">
      <input matInput placeholder="Nombres" formControlName="nombres" type="text">
    </mat-form-field>
    <mat-form-field class="crear-cliente-field">
      <input matInput placeholder="Apellidos" formControlName="apellidos" type="text">
    </mat-form-field>
    <mat-form-field class="crear-cliente-field">
      <input matInput placeholder="Dirección" formControlName="direccion" type="text">
    </mat-form-field>
    <mat-form-field class="crear-cliente-field">
      <input matInput placeholder="Documento" formControlName="documento" type="text">
    </mat-form-field>
    <mat-form-field class="crear-cliente-field">
      <input matInput placeholder="Telefono" formControlName="telefono" type="text">
    </mat-form-field>
    <button mat-raised-button [disabled]="!clienteForm.valid" type="submit">Agregar</button>
  </form>
</mat-card>
