<mat-card>
  <mat-card-header>
    <mat-card-title>¿Esta seguro que desea eliminar este cliente?</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <b>Nombres: {{cliente.nombres}}</b>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <b>Apellidos: {{cliente.apellidos}}</b>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <b>Documento: {{cliente.documento}}</b>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <b>Dirección: {{cliente.direccion}}</b>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <b>Telefono: {{cliente.telefono}}</b>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </mat-card-content>

  <mat-card-actions>
    <button mat-flat-button (click)="cancelar()">Cancelar</button>
    <button mat-raised-button color="warn" (click)="confirmar()">Confirmar</button>
  </mat-card-actions>
</mat-card>
